html, body {
	
	margin:0;
	padding:0;
	
	width:100%;
	height:100%;
	
	font-family: arial;
	font-size: 20px;
	color:#fff;
	text-align: center;
	
}

h1 {
	
	font-size:50px;
	text-align: left;
	margin-left:10px;
}

.topbar {
	
	margin:0;
	padding:0;
	
	height:100px;
	width:100%;
	
	float:left;
	
	background-color: #09c;
	line-height: 40px;
}

nav {
	
	margin:0;
	padding:0;
		
	height:50px;
	width:100%;
	
	float:left;
	
	background-color: #05c;
}

.sidebar {
	
	margin:0;
	padding:0;
		
	height:calc(100% - 250px);
	width:20%;
	
	background-color: #050;
	float:left;
	
	line-height: 200px;
}

.center {
	
	margin:0;
	padding:0;
		
	height:calc(100% - 250px);
	width:60%;
	
	background-color: #090;
	float:left;
	
	line-height: 200px;
}

.footer {
	
	margin:0;
	padding:0;
		
	height:100px;
	width:100%;
	
	background-color: #02c;
	clear:both;
}

.center-fill {
	
	margin:8%;
	padding:0;
		
	height:50px;
	width:12%;
	
	line-height: 50px;
	
	background-color: #02c;
	float:left;	
}

.first {
	
	margin-left:16%;
	
}

/* Navigation */

ul {
	
	width:100%;
	height:50px;
	
	margin: 0;
	padding: 0;
	
	list-style-type: none;
	
	background-color: #029;
	
}

li {
	
	width: 16.66%;
	line-height: 50px;
	float: left;
	
}

.navlinks {
	
	color:#fff;
	text-align: center;
	text-decoration: none;
	
	display: block;
	
}

.navlinks:hover {
	
	background-color: #07c;
	
}